extends ../header.pug

block header
  script(src="/delta_instructions.js")

block body
  h3 Instructions
  p 
    | This is a 2D grid puzzle game that follows a manipulatable set of rules that can be changed by forming different
    | sentences with three symbol tiles reading either left to right or top to down. The game is intentionally vague as 
    | it requires you to explore how the game works and in doing so work towards achieving the objective. 
    | To complete the game you must construct the following sequence of tiles
  canvas(id="symbolCanvas", style="margin-left:40%")
  p 
    | This also illustrates an example of a sentence. To give you a bit of a jump start, the symbol on the far left here 
    | represents you, the player.
  p 
    | You will have at least one agent to start with who you can control their movement. This is done by using either the
    | arrow keys or the WASD keys. If you would like to go back, the game saves the grid every 5 steps and allows you to jump
    | back by pressing the SPACE key. To completely restart the challenge press the ENTER key. You can take as much time as
    | you need to complete the puzzle. Below is a small sample to get used to the controls and some of the game mechanics.
    | When you are ready, press start to begin.
  canvas(id="instructionsCanvas")
  a(href="/dev/delta/game" class="button") Start