extends ../header.pug

block header
    link(rel='stylesheet', href='/stylesheets/forms.css')

block body
    h3 Thanks for completing the delta game. Now let us know what you thought.
    br

    form
        div
            p How quickly do you think you learned how to solve the challenges?
            table
                tr
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Really Slowly
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Slowly
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Average
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Quick
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Really Quick
            br
            p How difficult did you find the game?
            table
                tr
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Really Hard
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Hard
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Okay
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Easy
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Really Easy
            br
            p At a guess, what skills do you think the game was testing?
            input(type="text" class="response")
            br
            p How well do you think you performed in the game?
            table
                tr
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Bad
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Below Average
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Average
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Above Average
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Really Well
            br
            p What did you not like about the game or think could be improved?
            textarea(type="text" class="response" rows=3)
            br
            p Overall, what did you think of the game?
            table
                tr
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Really Bad
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Bad
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Average
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Good
                    td
                        input(type="radio" id="formControlRange")
                        label(for="formControlRange") Really Good

            br
        button(type="submit") Submit