extends header

block header
  link(rel='stylesheet', href='/stylesheets/forms.css')

block body
  h3 Thank you very much for trialing out our games

  p
    | Just before you go we have a few more rather open-ended and purely optional questions for you to answer.
  br
  hr
  br

  form(method="POST")
    p What do you think of games as a tool used by companies to assess candidates competencies. What do you think are the strengths and weaknesses?
    textarea(types="text", name="strengthAndWeaknesses" class="response", rows=3)
    br

    p What recruitment processes have you heard or experience which you liked? What would you like to see less of?
    textarea(types="text", name="recruitment" class="response", rows=3)
    br

    p 
      | What do you think of the prospect of multiplayer games? Do you think it may be a valuable method of showing
      | how you work with others in a team environment?

    textarea(type="text", name="multiplayer" class="response" rows=3)

    p Do you have a game or idea in mind that you think might be interesting to use in this context?
    textarea(types="text", name="gameIdea" class="response", rows=3)
    br

    p Any final remarks?
    textarea(types="text", name="finalRemarks" class="response", rows=3)
    br

    button(type="submit", value="Submit") Submit