extends header

block body
  h3 Hi there,
  
  p 
    | We're teloscope, a small start up idea that branched out from two friends who were looking to improve the way that companies find talent. 
    | But in order to get any closer to achieving that, we would appreciate if you could spare some of your time to help us out. 
    
  h4 What is Teloscope 
  
  p
    | The problem that we're focused on is commonly regarded as the signalling problem. Candidates want to signal that they are right for an 
    | organisation and organisations want to convey to candidates that they are right for them. All this without 
