extends header

block body
  h2 Hi,
  
  p 
    | We're teloscope, a small start up idea that branched out from two friends who were looking to improve the way that companies find talent. 
    | But in order to get any closer to achieving that, we would appreciate if you could spare some of your time to help us out. 
    
  h4 What is Teloscope?
  
  p
    | The problem that we're focused on is commonly regarded as the signalling problem. Candidates want to signal that they are right for an 
    | organisation and organisations want to convey to candidates that they are right for them. All this without the actual ability to really know
    | until quite some time after the candidate joins. The team therefore want to be equip themselves with methods for working out people's strengths
    | and knowing if a person will fit in. Other than just interviewing, some teams will try to set different challenges that are designed to 
    | test the mettle of candidates. Teloscope has the aim to be one such tool, an instrument for insight. However, unlike other tests, we believe
    | that games provide a much higher degree of insight then your standard multi choice questions. 

  h4 Why we need you?

  p 
    | We are in the early stages of development and still fiddling to find a strong minimal viable product. This site here serves as the playground where
    | can experiment with different games and different concepts and thus makes you the guinea pigs. This is all to say, that as grateful as we are for
    | your help, it is completely voluntary. You are free to do as many of the games and answer as many of the questions as you please. There is no gift
    | voucher or anything as such waiting at the end. 

  h4 How does this work? 

  p 
    | The layout of this is as follows: we start with a few introductory questions, which at a high level enquire a little bit as to who you are and what
    | your opinion on recruitment is. Then we jump into the games - there are four of them. Each game starts with giving a detailed breakdown of the 
    | instructions and rules before allowing you to begin. 
    span(style='color: #003366') Remeber these games are still in ongoing development. 
    | Once you complete the game, there is a short review.
    //- | Finally we want you to reflect on what your own competencies are so we have a base with which to compare and then we close with a final thanks
    //- | and any other feedback you would want to give.

  h4 Are you ready?

  p
    | Remember if anything, this is not a test of you but a test of us and we welcome as much feedback as we can get. So, when you're ready, use 
    | the navigation bar on the left to move to the first game
    
  br
